import 'package:flutter/material.dart';
import 'package:flutter_modular/flutter_modular.dart';
import './##BASE_PATH##/app_module.dart';
import './##BASE_PATH##/app_widget.dart';

void main(){
  return runApp(ModularApp(module: AppModule(), child: const AppWidget()));
}